//Tipografia

$fuente-h1: "Grenze Gotisch", serif;
$fuente-nav: "Abril Fatface", serif;
$fuente-a: "Abril Fatface", serif;
$fuente-h2: "Bona Nova SC", serif;
$fuente-card: "Alegreya", serif;

//Backgrounds

$bg-body: #051f20;
$bg-nav: #17434a;


//Colores

$color-h1: #f8edf8;
$color-a: #f8edf8;
$color-p-card: #f8edf8;


//Box Shadow

$card-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);